body{
    background-image: url(https://i.pinimg.com/originals/3a/98/db/3a98dbcdfc886e10506ff40a7878d39d.jpg);
    background-size: cover;
    box-sizing: border-box; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

#container{
    height:650px;
    width: 95%;
    margin: 1% auto;
    border:1px solid orange;
    border-radius: 30px;
    padding: 20px;
    -moz-margin: 10% auto;
}
h1{
    font-size: 80px;
    text-align: center;
    padding-top:2px;
    font-weight: bolder;
    color:white;
}
h3{
    font-size: 70px;
    text-align: center;
    color:white;
}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

li{
    list-style: none;
    text-align: center;
    color: white;
    font-size: 30px;
}

.buttons{
    margin: 0px 0px 0px 250px;
   
}


#how,#begin{
    background: #3498db; 
    width: 180px;
    margin: 10px;
    text-align:center;
    border: 1px solid #42e8f4;
    width: 300px;
    height: 70px;
}
button{
    font-size: 40px;
    color: white;
    padding:1px;
    border-radius: 47%;
}

/* The Modal */
.modal{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 50%;
    background-color: #3498db8f;
    opacity: 40%;
    visibility: hidden; /*   hides the box until its clicked on   */
    transform: scale(1);
    transition: visibility 1s linear .30s opacity .25s 0s transform .25s;
    padding-bottom: 20%;
    z-index: 100;
}

.model-content{ /*   styling positions text to center   */
    position: absolute;
    top: 50%;
    transform: translate (-50%, -50%);
    background-color: white;
    opacity: 25%;
    border-radius: .5rem;
}

.close{
    float: right;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
}

.close:hover{
    background-color: rgb(255, 255, 255);
}

.show-modal{ /*   gives more styling for when modal is opened  */
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
}

/* End of Modal styling */




/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }