body{
    background-image: url(https://i.pinimg.com/originals/3a/98/db/3a98dbcdfc886e10506ff40a7878d39d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  /* will make sure image is fixed according to window size */
    box-sizing: border-box; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

#title-container{
    text-align: center;
    margin: 0 auto;
    height: 100px;
    color: #349edb;    
}

#title{
    text-align: center;
    font-size: 140px;
}


#subtitle{
    text-align: center;
    font-size: 70px;
    margin-top: -20px;
}


#current-player-turn{
    font-size: 25px;
    color: white
}

h3{
    font-size: 70px;
    text-align: center;
    color:white;
}


li{
    list-style: none;
    text-align: center;
    color: white;
    font-size: 30px;
}

#turn-tracker-container {
    text-align: center;
    font-size: 60px;
    margin: 120px auto 0px auto;
    color: orange
}
/* Buttons */
#how,#startButton, #rematchButton{
    background: #3498dbd0; 
    width: 300px;
    height: 70px;
    margin: 10px;
    text-align:center;
    border: 1px solid #42e8f4;
    border-radius: 50%;
    color: white;
    font-size: 30px;
}

#startContainer{
    position:initial;
}
table{
    margin: 50px auto 0 auto;
    width: 500px;
    height: 500px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #03A9F4;
    padding: 5px;
  } 
  
table, tr,td{
    border: solid .05px white;
    font-size: 1em;
    text-align: center;
}


#boardOne{
    position: relative;
    top: 90px;
    left: 25px;
    float:left;
    display:none;
    
}

#boardTwo{
    position:relative;
    top: 90px;
    right: 25px;
    float: right;
    display:none;
}

caption{
    font-size: 30px;
    color: white;
}

td:hover{
    background-color: rgba(255,255,255,0.7);
}

#gameboards{
    padding: 1%;
}
/* The Modal */
.modal{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 50%;
    background-color: #3498db8f;
    opacity: 40%;
    visibility: hidden; /*   hides the box until its clicked on   */
    transform: scale(1);
    transition: visibility 1s linear .30s opacity .25s 0s transform .25s;
    padding-bottom: 20%;
    z-index: 100;
}

.model-content{ /*   styling positions text to center   */
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate (-50%, -50%);
    background-color: white;
    opacity: 25%;
    border-radius: .5rem;
}

.close{
    float: right;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
}

.close:hover{
    background-color: rgb(255, 255, 255);
}

.show-modal{ /*   gives more styling for when modal is opened  */
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
}

.hide{
    display:none;
}

.show{
    display: block;
}

/* End of Modal styling */




/* For mobile phones: */
[body*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
